<!DOCTYPE html>
<html>
<head>
<title> 'vue js' </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js" > </script>
</head>
<body>
<!-- 	<div id="app">
		<p> {{greet()}}</p>
		<p>My dog name: {{name}}</p>
		<p>My dog age: {{ages}}</p>

	</div>
	<script>
			var vne = new Vue (
			{
				el: '#app',

				data : {
					name: 'kiki',
					ages: 14,
					position : 'dog',
				},
				methods : {
					greet : function(){
						return 'good afternoon!';
					}
				}
			});
		
	</script>

</body>
</html> -->


<!-- 27/02/19 -->
<!-- <!DOCTYPE html>
<html>
<head>
<title> 'vue js' </title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js" > </script>
</head>
<body>
	<div id="vue">
		<p v-bind:style="{color:col,padding: body, frontsize: body}">This is TExt</p>
		<p v-bind:style="styleFunction">This is TExt</p>

	</div>
<script>
	var Text= new vue 
	(
	{
		el: "vue", 
		data: 
			col: red,
			body:60 px,
			
		methods:
		styleFunction=
	})
</script> -->
<!-- 01/03/19 -->
<!-- <div>
	
</div>
<script type="text/javascript">

		var vm= new vue (
		{
			el: '#computed_props',

		} ,
		data: 
		{
			frist= "fist name",
			last="last name",
		} ,
		methods: 
		{

		},
		computed : 
		{
			fullname :
			{
				get: function ()
				{
					return this.fist+ "" + this.last ;
				} ,
				set : function (name)
				{
					var thisName=k name.split(" ") ;
					this.fist= thisName[0];
					this.last=thisName[1];
				}
			}
		}

	</script>
</body>
</html> -->

<!-- <div id="computed_props">
	kilomater: <input type="text" v-model="kilomater">
	mater : <input type="text" v-model="mater">
	
</div>
<script>
	var vm= new vue(
	{
		
	})
</script> -->
<!-- 04/03/19 -->
<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>
































